body, h1, h2, h3, p{
margin: 0;
padding: 0;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: unset;
}

:root{
    --primary:#0879a1;
    --secondary:#ededed;
    --boutton:#1e1d3d;
    --rose:#db005a;
}

body{
    font-family: 'roboto', sans-serif;
}


* {
    box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
}

.logo{
    padding:20px;
}

.acceuil{
    color: var(--boutton);
    background-color: var(--secondary);
    width:90px;
    text-align: center;
    border-left: solid 5px var(--primary);
    border-bottom: solid 5px var(--primary);
}

.header-container{
    color:var(--boutton);
    display: flex;
    justify-content: end;
}

.right-header{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    margin-top: -100px;
}

.header-menu{
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.header-img{
    position: relative;
}

.h1-header-img{
    color:var(--rose);
    background-color:whitesmoke;
    width: 500px;
    margin: 20px;
    text-align: center;
    position: absolute;
    bottom: 300px;
    left: 500px;
}

.h1-titre-main{
    color: var(--boutton);
    background-color: var(--secondary);
    width:900px;
    margin:-250px;
    text-align: center;
    bottom:350px;
    left: 500px;
    border-left: solid 5px var(--primary);
    border-bottom: solid 5px var(--primary);
    position: absolute;
}

.actu-title{
    text-align: center;
    position: relative;
    padding: 200px;
    color: var(--boutton);
    margin-bottom: -100px;
}

.calendar{
    width: 600px;
    height: 60px;
    color: var(--primary);
}

.actus{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    gap: 50px;
}

.actu-one{
    background-color: var(--secondary);
    padding: 20px;
}

.actu-two{
    background-color: var(--secondary);
    padding: 10px;
}

.actu-blue{
    color: var(--boutton);
}

.inter-title{
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    padding: 200px;
    color: var(--rose);
    margin-bottom: -100px;
}

.micro{
    width: 600px;
    height: 60px;
}

.inter{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    gap: 50px;
}

.inter-pink{
    color: var(--rose);
}

.inter-one{
    background-color: var(--secondary);
    padding: 10px;
}

.inter-two{
    background-color: var(--secondary);
    padding: 10px;
}

.h1-interviews-title{
    color: var(--boutton);
}
.lire-la-suite{
    background-color: var(--boutton);
    color: white;
    display: flex;
    text-align: end;
    margin: 50px;
}






.footer{
    background-color:var(--rose);
    color: white;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px;
}

.titre-new{
    text-align: center;
    padding: 20px;
}

.reseaux-sociaux{
    text-align: center;
    padding: 20px;
}

.twitter, .facebook, .instagram, .pinterest{
    margin: 10px;
    width: 30px;
    height: 30px;
}



/* Pour les tablettes*/
@media screen and (max-width: 1024px) {

    
    .header-img img{
        max-height: 300px;
        object-fit: cover;
    }
    
    .h1-header-img {
        width: 300px;
        bottom: 150px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.2em;
    }

    .right-header {
        margin-top: -80px;
        gap: 15px;
    }

    
    .h1-titre-main {
        width: 80%;
        margin: 50px auto;
        padding: 30px;
        position: relative;
        bottom: auto;
        left: auto;
        font-size: 1.2em;
    }

    
    .actu-title {
        padding: 100px 20px 50px 20px;
        margin-bottom: 30px;
    }

    .calendar {
        width: 300px;
        height: 45px;
    }

    .actus {
        flex-direction: row;
        max-width: 95%;
        gap: 30px;
        padding: 20px;
    }

    .actu-one,
    .actu-two {
        width: 48%;
    }

    
    .inter-title {
        padding: 100px 20px 50px 20px;
    }

    .micro {
        width: 300px;
        height: 45px;
    }

    .inter {
        max-width: 95%;
        gap: 30px;
    }

    .inter-one,
    .inter-two {
        width: 48%;
    }
}

/* Pour les téléphones*/
@media screen and (max-width: 768px) {

    
    .header-img {
        display: none;
    }

    
    .logo {
        text-align: center;
    }

    .header-container {
        justify-content: center;
    }

    .right-header {
        margin-top: 0;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

    .header-menu {
        padding: 10px;
        gap: 10px;
    }

    
    .h1-titre-main {
        width: 90%;
        margin: 30px auto;
        padding: 20px;
        font-size: 1em;
        position: relative;
        bottom: auto;
        left: auto;
        border-left-width: 3px;
        border-bottom-width: 3px;
    }

    
    .actu-title {
        padding: 50px 15px 30px 15px;
        margin-bottom: 20px;
    }

    .calendar {
        width: 200px;
        height: 35px;
    }


    .actus {
        flex-direction: column;
        width: 100%;
        gap: 30px;
        padding: 15px;
    }

    .actu-one,
    .actu-two {
        width: 100%;
    }

    
    .inter-title {
        padding: 50px 15px 30px 15px;
        margin-bottom: 20px;
    }

    .micro {
        width: 200px;
        height: 35px;
    }

    .inter {
        flex-direction: column;
        width: 100%;
        gap: 30px;
        padding: 15px;
    }

    .inter-one,
    .inter-two {
        width: 100%;
    }


    .footer {
        flex-direction: column;
        padding: 30px 15px;
        text-align: center;
        gap: 30px;
    }

    .new,
    .reseaux-sociaux {
        width: 100%;
    }
}

/* Pour les très petits téléphone*/
@media screen and (max-width: 480px) {

    .logo img {
        width: 70px;
    }

    .right-header {
        font-size: 0.85em;
        gap: 8px;
    }

    .acceuil {
        width: 80px;
        font-size: 0.9em;
    }

    .h1-titre-main {
        font-size: 0.85em;
        padding: 15px;
        width: 95%;
    }

    .actu-title,
    .inter-title {
        font-size: 0.9em;
        padding: 30px 10px 20px 10px;
    }

    .calendar,
    .micro {
        width: 150px;
        height: 30px;
    }

    .actus,
    .inter {
        padding: 10px;
        gap: 20px;
    }

    .footer {
        padding: 20px 10px;
    }

    .twitter, .facebook, .instagram, .pinterest {
        width: 25px;
        height: 25px;
    }
}