*{
    margin: 0;
    padding: 0;
}



.nav-recherche-input{
    list-style: none;
    display: flex;
    border-radius: 20px;
    margin: auto;
    
}

.menu-vertical{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.ul{
    display: flex;
    gap: 20px;
    padding: 0.5rem 0.5rem;
}

.li{
    border: 2px solid black;
    padding: 0.5rem 1rem;
}

.bouton-verticale{
    display: flex;
    gap: 25px;
    padding: 20px;
    margin-left: auto;
}


.video-card{
    display: flex;
    gap: 10px;
    padding: 10px;
}



.rec-card{
    display:flex;
    gap: 10px;
   padding: 10px;
}

