/*
ajouter une police de caractère depuis le site Google Fonts
Roboto
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* reset des styles du navigateur */

body, h1,h2, h3, p , nav {
    margin: 0;
    padding: 0;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color:unset; 
}

/* fin reset des styles du navigateur */


/* style globaux */

body{
    font-family: "Roboto" , sans-serif;
    color:black; 
}

.link{
    border:1px solid black;
    background-color: #eee;
    border-radius: 5px;
    padding: 0.2rem;
}

/* fin style globaux */


/* zone entête du site */

header{
    display: flex;
    align-items: center;
    gap:20px;
    padding: 1rem 1.5rem;
}

.header_menu{
    margin-left: auto;
    display: flex;
    gap:15px;
}

.header_form_input{
    border-radius: 15px;
     padding: 0.2rem 0.5rem;
     width: 250px;
}   

/* fin zone entête du site */

/* zone principale du site  */

main{
     padding: 1rem 1.5rem;
     display: flex;
     gap:20px;
}

nav{
    border:1px solid black;
    background-color: #eee;
    padding: 0.5rem;
    width: 150px;
}
.nav_menu_top{
    text-align: center;
}

.nav_menu_top_link{
    display: block;
    margin-bottom: 10px;
}

.nav_menu_bottom_titre{
    margin: 1em 0;
}

.nav_menu_bottom_item{
    margin-bottom: 10px;
}

.central{
    width: 100%;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:20px;
}

.ad{
    text-align: center;
    margin: 0.8rem 0;
}

.recommended div , .recently-uploaded div{
    gap: 10px; 
    display: flex;
}

img{
    max-width: 100%;
}

.recommended{
    margin-bottom: 1rem;
}

.recommended h2, .recently-uploaded h2{
    margin-bottom: 0.5rem;
}


.recommended div article , .recently-uploaded div article{
    display: flex;
    flex-direction: column;
}

.recommended div ul , .recently-uploaded div ul {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-top: auto;
}

/* fin zone principale du site  */