@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*reset*/

body, h1, h2,h3 , p {
    margin: 0;
    padding: 0;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color:unset;
}
/* fin reset */
/* style globaux */
:root{
    --primary:#51c4d3 ;
    --secondary:#132c33;
    --gris:#d8e3e7;
}
body{
    font-family: 'Roboto' , sans-serif;
    color:var(--secondary); 
}
/* fin style globaux */

header{
    background-color: var(--primary);
}
.header_menu{
    padding: 2rem 0;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_menu_link{
    font-size: 1.3rem;
}
.header_menu_link_last{
    padding: 1em 1.2em;
    border:1px solid 20px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 2rem;
}

.container{
    width: calc(100% - 40px);
    margin: 0 auto;
}

.presentation{
    padding: 3rem 0;
    background-color: var(--secondary);
    color:var(--gris); 
}

.presentation_titre{
    margin-bottom: 1em;
}

.presentation_p{
    margin-bottom: 1em;
}
.presentation_img{
    width: 100%;
}
.presentation_link{
     padding: 1em 1.2em;
    border:1px solid 20px;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 2rem;
}
.presentation_box_link{
    text-align: center;
    margin-bottom: 2rem;
}

.details{
    background-color: white;
    padding: 2rem 0;
    color:var(--primary);
    
}   

.details_text_titre{
    margin-bottom: 1em;
}

.details_list{
    margin-top: 2rem;
    color:white;
    background: var(--primary);
    padding: 1rem;
    text-align: center;
}

.details_text p{
    margin-bottom: 1em;
}

@media screen and (min-width:768px) {
    .header_menu{
        display: flex;
        flex-direction: row;
        gap:20px;
        align-items: center;
    }
}

@media screen and (min-width:650px) {
    .presentation .container , .details .container{ 
        display: flex;
        gap:20px;
    }
   
    .presentation_img{
        object-fit: cover;
        width: 200px;
    }
     .details_text{
        width: calc(100% - 200px - 20px);
    }
    .details_list{
        margin-top: 0;
        width: 200px !important;
        box-sizing: border-box;
    }
}

@media screen and (min-width:960px) {

    .container{
        width: 960px;
    }
}